
.game-iframe {
    width: 100%;
    height: 100%;
    min-height: 99vh;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 75px; 
    padding-bottom: calc(env(safe-area-inset-bottom));
    /* Ensure background covers the entire area, including the safe area */
    background-color: #ffffff; 
}
